div{
    border: 2px ridge #0032c9;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 30px;
    color: orange;
    background-color: black;
}

.foo{
    color: blue;
}

#hello{
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    color: red;
}
